# -- Penguins -- 

Some analysis/visualisations about penguins and their properties

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
pengs_iterDF = pd.read_csv('penguins_lter.csv').dropna()
pengs_sizeDF = pd.read_csv('penguins_size.csv').dropna()

In [8]:
pengs_sizeDF.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE

In [ ]:
plt.figure(figsize=(10, 10))